---
import GithubIconLink from './GithubIconLink.astro';

const today = new Date();
---

<footer class="footer gap-6 bg-neutral p-8 text-neutral-content">
  <p class="place-self-center text-lg md:place-self-start">
    &copy; {today.getFullYear()} Amarjeet. All rights reserved.
  </p>
  <div class="place-self-center md:place-self-end">
    <GithubIconLink />
  </div>
</footer>
