---
import PageLayout from '../layouts/PageLayout.astro';
---

<PageLayout>
  <section class="w-full py-8">
    <h1 class="text-5xl">Hello!</h1>
    <p class="py-3 text-2xl">
      Welcome to Amarjeet's blog site. It is currently under construction 🚧.
      Please visit again later
    </p>
  </section>
  <div class="h-[60vh]"></div>
</PageLayout>
