---
import HeaderLink from './HeaderLink.astro';
import GithubIconLink from './GithubIconLink.astro';
---

<header
  class="navbar fixed top-0 bg-base-100 bg-opacity-90 shadow-sm backdrop-blur"
>
  <nav class="mx-auto flex w-md justify-between px-4 md:px-0">
    <div class="ml-[-12px]">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
    </div>
    <div
      class="tooltip tooltip-bottom"
      data-tip="Go to Amarjeet's GitHub Profile"
    >
      <GithubIconLink />
    </div>
  </nav>
</header>
