# build output
dist/
.turbo/

# generated types
.sst/

# dependencies
node_modules/

# logs
*.log*


# environment variables
*.env*

# macOS-specific files
.DS_Store

# wrangler files
.wrangler
.dev.vars

